<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.4/chartist.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.9.4/chartist.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <style>
        .ct-bar {
            stroke-width: 40px;
            stroke: lightblue !important;
        }
    </style>
</head>
<body>
    <div class="ct-chart ct-perfect-fourth"></div>
</body>
</html>